{% extends 'base.html.twig' %}

{% block title %}Hello TabController!{% endblock %}

{% block body %}
<h1 class="text-danger m-4 text-center">Table of emploees</h1>
    <table class="table">
        <tr>
            <th>Last name</th>
            <th>first name</th>
            <th>age</th>
        </tr>

        {% for i in tab %}
                <tr class="table-{% if loop.index is even %}warning{% endif %}">
                    <td>{{ i.firstName }}</td>
                    <td>{{ i.lastName }}</td>
                    <td>{{ i.age }}</td>
                </tr>
        {% else %}
            <p class="alert-danger">There is no employee !</p>
        {% endfor %}

    </table>
{% endblock %}
